.searchContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(127, 192, 204);
    align-items: center;
    padding: 80px 150px;
    margin: 40px 0px;
}

.searchTitle{
    font-size: 3rem;
    font-weight: bold;
    color: whitesmoke;
    overflow: auto;
    width: 600px;
}

.searchInput{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border:none;
    padding: 10px;

}